
.spw__main{
  display: flex;
  background-color: #e9edebff;
  padding-bottom: 10rem;
  margin-top: 0;
  padding-top: 0;
  .left{
    flex: 0.5;
    align-items: flex-start;
    justify-content: flex-start;

    .imgContainer{
      display: flex;
      margin-left: 10%;
      padding-top: 2rem;
      justify-content: flex-start;
      align-items: center;
      max-width: 80%;
      max-height: 60%;
      margin-top: 5rem;
      img{
        width: 100%;
        height: 85vh;
        object-fit: cover;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
        border: solid, 5px;
        border-radius: 5%
      }
    }
    
  }

  .right{
    margin-top: 7rem;
    flex:0.4;
    h4{
      font-size: 24px;
    }
    h3{
      margin-top: 1rem;
      font-size: 30px;
    }
    p{
      margin-top: 1rem;
      font-family: 'Roboto', sans-serif;
      font-size: 20px;
    }

  }
  .quantity{
    display: flex;
    margin-top: 2rem;
    
    .inputgroup{
      
    
      input{
        width:50px;
        padding:.5em;
        font-size:1.2rem;
        text-align:center;
        font-weight:900;
        background:white;
        border:1px solid #aaa;
        margin-left: 1rem;
        margin-right: 1rem;
      }
    
    }
   
  }
}



.quantity input[type=number]::-webkit-inner-spin-button,
.quantity input[type=number]::-webkit-outer-spin-button{
   -webkit-appearance:none;
}