*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.newsletter__main{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  @media screen and (max-width: 992px){
    flex-direction: column;
    text-align: center;
    flex-grow: 1;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .input{
    display: flex;
    flex-direction: row;
    margin-bottom: 2rem;
    margin-top: 2rem;
    justify-content: center;
    align-items: center;
    input{
      margin-top: 1rem;
      margin-bottom: 1rem;
      width: 100%;
    }

    button{
      margin-left: 2rem;
      font-family: 'Roboto', sans-serif;
      font-weight: 600;
      color: black;
      border-color: black;
      
      &:hover{
        background-color: grey;
      }
    }
}
}
