.newsletter__main{
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .input{
    display: flex;
    flex:1;
    flex-direction: row;
    margin-bottom: 3rem;
    margin-top: 2rem;
    justify-content: center;
    align-items: center;
    input{
      margin-top: 1rem;
      margin-bottom: 0rem;
      width: 100%;
    }

    button{
      margin-left: 2rem;
      font-family: 'Roboto', sans-serif;
      font-weight: 600;
      color: black;
      border-color: black;
      
      &:hover{
        background-color: grey;
      }
    }
}
}
