*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.footer {
  display: flex;
  background-color: #e9edebff;
  border-style: solid;
  border-width: 1px;
  margin-top: 2rem;
  width: 100%;
  @media screen and (max-width: 992px){
    flex-direction: column;
  }
  
  .footer__left{
    display: flex;
    flex: 1;
    padding-left: 1rem;
   

    .description{
      display: flex;
      flex: 1;
      padding-top: 2rem;
      padding-bottom: 2rem;
      margin-left: 2rem;
      @media screen and (max-width: 992px){
        padding: 0;
        margin-right: 1rem ;
        margin-left: 1rem;
        margin-bottom: 2rem;
        margin-top: 1rem;
      }
      p{
        font-family: 'Roboto', sans-serif;
        font-weight: 600;
      }
    }
  }

  .footer__center{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    p{
      font-family: 'Roboto', sans-serif;
      font-weight: 600;
    }
    @media screen and (max-width: 992px){
      margin-left: 1rem;
    }
  }
  .footer__right{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: right;
    @media screen and (max-width: 992px){
      justify-content: center;
      margin-top: 1rem;
      margin-bottom: 0rem;
    }
    .logos{
      button{
        padding: 1rem;
        margin-right: 2rem;
      }
    }
  }
}

