
*{
  margin: 0;
  padding: 0;
}
.container{
  display: flex;
  
  overflow-x: hidden;
  .image{
    display: flex;
    flex:1;
    justify-content: center;
    align-items: center;
    
    .imgContainer{
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 100%;
      max-height: 80%;
      
      img{
        object-fit: contain;
        width: 100%;
      }
    }
  }
}

.hero-text{
  text-align: center;
  font-family: 'Bungee Inline', cursive;
  font-weight: 200;
  position: absolute;
  top: 23%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(26, 16, 13);

  button{
    margin-top: 2rem;
    background-color: rgb(216, 195, 74);
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    display: inline-block;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    &:active{
      top: 2px;
      transition: all 1s ease;

    }
  }
}

.mission{
  display: flex;
  flex: 1;
  margin-top: 4rem;
  margin-bottom: 4rem;
  background-color: #e9edebff;
  .wrapper{
    display: flex;
    flex:1;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
    h1{
      
      font-family: 'Roboto', sans-serif;
      font-weight: 600;
      padding-bottom: 1rem;
      text-decoration: underline;
    }
    p{
      font-family: 'Roboto', sans-serif;
      font-weight: 600;
      padding-bottom: 4px;
    }
  }
}

