
*{
  margin: 0;
  padding: 0;
}
.container{
  padding-top: 30rem;
  display: flex;
  max-width: 100vw;
  max-height: 100vw;
  overflow-x: hidden;
  .image{
    flex:1;
    justify-content: center;
    align-items: center;

    .imgContainer{
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 100%;
      max-height: 10%;
      
      img{
        object-fit: cover;
      }
    }
  }
}

.hero-text{
  text-align: center;
  font-family: 'Bungee Inline', cursive;
  font-weight: 200;
  position: absolute;
  top: 23%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(26, 16, 13);

  button{
    margin-top: 2rem;
    background-color: rgb(216, 195, 74);
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    display: inline-block;
    border: none;
    border-radius: 5px;
    &:active{
      top: 2px;
      transition: all 1s ease;

    }
  }
}

.mission{
  display: flex;

  .wrapper{
    display: flex;
    flex:1;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;

    p{
      font-family: 'Roboto', sans-serif;
      font-weight: 500;
    }
  }
}