
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  display: flex;
  width: 100vw;
  overflow-x: hidden;
  @media screen and (max-width: 992px){
    margin-top: 0.2rem;
  }
  .image{
    display: flex;
    flex:1;
    justify-content: center;
    align-items: center;
    
    .imgContainer{
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 100%;
      max-height: 80%;
      
      img{
        object-fit: contain;
        width: 100%;
  
        @media screen and (max-width: 992px){
          object-fit: cover;
        }
      }
    }
  }
}

.hero-text{
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-weight: 200;
  position: absolute;
  top: 27%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(26, 16, 13);
  @media screen and (max-width: 992px){
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 70%;
    left:50%;
    text-align: center;
  }
  button{
    margin-top: 2rem;
    background-color: rgb(216, 195, 74);
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    padding: 15px 32px;
    text-align: center;
    font-size: 20px;
    display: inline-block;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  
    &:active{
      top: 2px;
      transition: all 1s ease;

    }
    &:hover{
      background-color: rgba(216, 195, 74, 0.5);
    }
    }
}


.mission{
  display: flex;
  flex: 1;
  margin-top: 4rem;
  margin-bottom: 4rem;
  background-color: #e9edebff;
  @media screen and (max-width:992px){
    margin-top: 20rem;
  }
  
  .wrapper{
    display: flex;
    flex:1;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    @media screen and (max-width: 992px){
      text-align: center;
      margin-left: 4px;
      margin-right: 4px;
    }
    
    h1{
      
      font-family: 'Roboto', sans-serif;
      font-weight: 600;
      padding-bottom: 1rem;
      text-decoration: underline;
    }
    p{
      font-family: 'Roboto', sans-serif;
      font-weight: 600;
      padding-bottom: 4px;
    }
  }
}

