*{
  margin: 0;
  padding: 0;
}

.empty__shoppingcart{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 62vh;
  .wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 1rem;
    height: 90%;
    p{
      font-family: 'Oswald', sans-serif;
      font-weight: 400;
      font-size: 26px;
      margin-bottom: 2rem;
      margin-left: 1rem;
      margin-right: 1rem;
      
    }
    img{
      object-fit: cover;
      height: 50%;
      border-radius: 2%;
    }
  }
}
.orderpage__main{
  h1{
    margin-top: 6rem;
    margin-left: 5rem;
  }
  hr{
    margin-left: 0rem;
  }

  .orderpage__input_container{
    margin-left: 10rem;
    margin-right: 10rem;
    
  
    @media screen and (max-width: 992px){
     margin-left: 0; 
     margin-right: 0rem;
    }
    
    .orderpage__input_name{
      display: flex;
      flex-direction: row;
      justify-content: center;
      @media screen and (max-width: 992px){
        flex-direction: column;
        justify-content: center;
        margin-left: 1rem;
        margin-right: 1rem;
      }
      input{
        margin-left: 2rem;
        margin-top: 2rem;
        padding-left: 2px;
        height: 3rem;
        width: 60rem;
        @media screen and (max-width: 992px){
          width: 20rem;
        }
      }
      
     
    }

  }
  .orderpage__button{
    @media screen and (max-width: 992px){
      display: flex;
      justify-content: center;
      align-items: center;
    }
    Button{
    margin-top: 3rem;
    float: right;
    background-color:  rgb(216, 195, 74);
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    color: black;
    
    &:hover{
      background-color: rgba(216, 195, 74, 0.5);
    }
  }
}
  .orderpage__total{
    margin-left: 0rem;
    margin-top: 0rem;
    margin-right: 5rem;
    @media screen and (max-width: 992px){
      margin-right: 0rem;
    }
    h1{
      margin-top: 6rem;
      margin-left: 5rem;
    }
    table{
      margin-top: 2rem;
      margin-bottom: 2rem;
      margin-left: 4rem;
      border-collapse: collapse;
      @media screen and (max-width: 992px){
        margin-left: 2rem;
      }
      thead{
        vertical-align: middle;

        
        tr{
          th{
            display: table-cell;
            font-size: 30px;
          }
        }
      }

      tbody{
        tr{
          border-bottom: 1px solid black;
            td{

              img{
                width: 200px;
                height: 200px;
                margin-top: 1rem;
                margin-bottom: 1rem;
                border-radius: 2%;
                @media screen and (max-width: 992px){
                  margin-top: 1rem;
                  width: 140px;
                  height: 140px;
                }
              }
            }
          
      
            .cart__table__productname{
              display: flex;
              flex-direction: column;
              margin-left: 3rem;
              margin-top: 1rem; 
              width: 10vw;
              @media screen and (max-width: 992px){
                 margin-left: 0.5rem;
                 margin-top: 0.5rem;
                 margin-bottom: 0.5rem;
              }
              .species{
                font-family: 'Roboto', sans serif;
                font-size:35px;
              }

              .family{
                font-family: 'Roboto', sans serif;
                font-size:20px;
              }
            }
            .cart__description{
              .description{
                margin-left: 2rem;
                margin-right: 2rem;
                font-family:'Roboto';
              }
            }

            .cart__quantitybuttons{
              @media screen and (max-width: 992px){
                display: flex;
              
              }
              span{
                font-weight: 600;
                font-size: 25px;
                display: flex;
                flex-direction: row; 

              }
              p{
                font-weight: 600;
                font-size: 25px;
                @media screen and (max-width: 992px){
                  display: flex;
                  flex-direction: row; 
                }
              }
              
            }

            .cart__total{
              p{
                margin-Left: 2rem;
                font-Weight: 600;
                font-size: 25px;
              }
              @media screen and (max-width: 992px){
                display: flex;
                flex-direction: row; 
              }
            }
          }
    }
      
    
    }
    ul{
      margin-top: 3rem;
      margin-left: 4rem;
      list-style-type: none;
  

      li{
        padding-top: 1rem;
        padding-bottom: 1rem;
        display: flex;
        flex-direction: row;

    
        img{
          width: 200px;
          height: 200px;
        }

        p{
          margin-left: 2rem;
        }

        .p__bold{
          font-weight: 600;
          font-size: 40px;
          font-family: 'Roboto', sans-serif;
        }

        .cart__item_buttons{
          padding: 0;
         
          margin-left: 20rem;          
        }
      }
    }

    .total__sum{
      float:right;
      margin-right: 2rem;
      font-family: 'Roboto';
      font-size: 25px;
      font-weight:500;
    }
  }
}