*{
  margin: 0;
  padding: 0;
}

.empty__shoppingcart{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 76vh;
  .wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    p{
      font-family: 'Oswald', sans-serif;
      font-weight: 400;
      font-size: 26px;
      margin-bottom: 2rem;
    }
  }
}
.orderpage__main{
  width: 100vw;
  height: 100%;

  h1{
    margin-top: 6rem;
    margin-left: 5rem;
  }
  hr{
    margin-left: 0rem;
  }

  .orderpage__input_container{
    margin-left: 10rem;
    margin-right: 10rem;
    display: flex;
    flex-direction: column;

    .orderpage__input_name{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      input{
        margin-left: 2rem;
        margin-top: 2rem;
        padding-left: 2px;
        height: 3rem;
        width: 60rem;
      }
     
    }

    Button{
      margin-top: 3rem;
      float: right;
      background-color:  rgb(216, 195, 74);
      font-family: 'Roboto', sans-serif;
      font-weight: 600;
      color: black;
      
      &:hover{
        background-color: rgba(216, 195, 74, 0.5);
      }
    }
  }

  .orderpage__total{
    margin-left: 0rem;
    margin-top: 0rem;
    margin-right: 5rem;

    h1{
      margin-top: 6rem;
      margin-left: 5rem;
    }
    table{
      margin-top: 2rem;
      margin-bottom: 2rem;
      margin-left: 4rem;
      border-collapse: collapse;
      tr{
        border-bottom: 1px solid black;
        }
  
      thead{
        vertical-align: middle;
        tr{
          th{
            display: table-cell;
            font-size: 30px;
          }
        }
      }
    
    }
    ul{
      margin-top: 3rem;
      margin-left: 4rem;
      list-style-type: none;
  

      li{
        padding-top: 1rem;
        padding-bottom: 1rem;
        display: flex;
        flex-direction: row;

    
        img{
          width: 200px;
          height: 200px;
        }

        p{
          margin-left: 2rem;
        }

        .p__bold{
          font-weight: 600;
          font-size: 40px;
          font-family: 'Roboto', sans-serif;
        }

        .cart__item_buttons{
          padding: 0;
         
          margin-left: 20rem;          
        }
      }
    }
  }
}