*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app__navbar{
  background-color: rgba(101, 145, 87,0.9);
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  position: sticky;
  top:0;
  opacity: 1;
  overflow-x: hidden;
  margin-left: 0;
  margin-top: 0px;
  box-shadow: 0 0 4px grey;
  overflow-y: hidden;
  z-index:10;
  @media screen and (max-width: 992px){
    flex-direction: column;
    
  }
}

.logo{
  display: flex;
  font-family: 'Oswald', cursive;
  font-size: 35px;
  color: white;
  justify-content: flex-start;
  margin-left: 4rem;
  align-items: center;
  text-decoration: none;
  margin-top: 2rem;
  margin-bottom: 2rem;
  transition: all 0.15s ease-in-out;
  @media screen and (max-width: 992px){
    margin: 0;
  }
  &:hover{
    transition: 'ease-in-out', 1.5s;
    color: rgb(105, 105, 92);
  }
}

.app__navbar-links{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: 992px){
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  a, .contact{
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
    color: whitesmoke;
    margin-right: 10rem;
    font-size: 25px;
    font-weight: 600;
    text-transform: uppercase;
    transition: all 0.15s ease-in-out;
    @media screen and (max-width: 992px){
      margin-right: 0;
    }
    &:hover{
      transition: 'ease-in-out', 1s;
      color: rgb(105, 105, 92);
      font-weight: 200;
      cursor: pointer;
    }
  }
}

.navbar__cart-main{
  width: 60px;
  height: 60px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  div{
    position: fixed;
    border: solid;
    border-width: 1px;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 5;
    padding: 1rem;
    width: 20%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    background-color: rgba(233, 247, 235, 1.5);
    background-size: cover;
    background-repeat: repeat;
    height: 80vw;

    svg {
      width: 35px;
      height: 35px;
      margin: 0.5rem 1rem;
    }

    ul{
      list-style: none;
      margin: 0;
      padding: 0;
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;

      li{
        padding-top: 20px;
        margin-bottom: 18px;
        img{
          width: 140px;
          border-radius: 10%;
          margin-right: 12px;
          height: 140px;
          float:left;
        }

        .cart__item{
          display: block;
          font-family: 'Roboto', sans-serif;
          font-weight: 600;
          margin-left: 5rem;
        }

        .cart__item_buttons{
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          font-family: 'Roboto', sans-serif;
          font-weight: 800;
          color: black;

        }
        #itembutton{
          float:right;
          background-color:inherit;
          

          &:hover{
            background-color:rgba(224, 222, 213,0.5);
            color: rgba(0,0,0,0.5);
            background-color: inherit;
          }
        }

        p{
          margin-top: 1rem;
          margin-left: 1rem;
          align-items: flex-start;
          justify-content: flex-start;
        }
      }

      Button{
        margin-top: 1rem;
        background-color:  rgb(216, 195, 74);
        font-family: 'Roboto', sans-serif;
        font-weight: 600;
        color: black;

        &:hover{
          background-color: rgba(216, 195, 74, 0.5);
        }
      }
    }
    
  }
}